<% if @errors %>
  <% @errors.each do |error| %>
    <h2 class="error">error: <%= error %></h2>
  <% end %>
<% end %>


<form method="post" action="/categories/<%=@category.id%>/auctions/<%=@auction.id%>">
  <input type="hidden" name="_method" value="put">
    <input type="text" name="name" placeholder="name" value="<%= @auction.name%>"><br>
    <textarea name="description" placeholder="description"><%= @auction.description%></textarea><br>
    <input type="text" name="end_date" placeholder="end date"  value="<%= @auction.end_date%>">
    <input type="submit" name="submit" value="edit">
</form>
