<div>

  <h2><%= @auction.name %></h2>
  <br>
  <br>
  <p><%= @auction.description %></p>
  <br>
  <br>
  <br>

  <h3>Current bids</h3>
      <ul id="bid_list">
        <% @bids.each do |bid| %>


          <li id="bid_item">
            <h4>$<%= bid.bid %>   from <a href="/users/<%= bid.bidder_id %>"><%= bid.bidder.username %></a></h4><p>updated bid at: <%= bid.updated_at %></p>
          </li>
        <% end %>
      </ul>

  <% if session[:user_id] != nil %>
    <a href="/categories/<%= @category.id %>/auctions/<%= @auction.id %>/bids/new"> Make a bid</a>
  <% end %>

</div>
