<h1><%= @user.username %></h1>

<main role="main">
  <h3> Items Sold</h3>
  <ul class="auctions_list no-bullets no-padding">
    <% @auctions.each do |auction| %>
      <li class="auction_item pad-b-4">
        <a href="/categories/<%=auction.category.id%>/auctions/<%= auction.id %>" class="auction_name"><%= auction.name%></a>

        <p class="auction-description"><%= auction.description %></p>
      </li>
    <% end %>
  </ul>


  <h3>Bids made</h3>
    <ul class="bids_list no-bullets no-padding">
      <% @bids.each do |bid| %>
        <li class="bid_item pad-b-4">
        <a href="/categories/<%=bid.auction.category.id%>/auctions/<%= bid.auction.id %>" class="auction_name"><%= bid.auction.name%></a><span id="bid_amount">  $<%=bid.bid%></span>

        <p class="auction-description"><%= bid.auction.description %></p>
         </li>
    <% end %>
  </ul>
</main>
