<div>

  <h2>Auction Items for <%= @category.name %></h2>

  <ul>
    <% @auctions.each do |auction| %>


      <li>
        <a href="/categories/<%= @category.id %>/auctions/<%= auction.id %>"><%= auction.name %></a><br><span><%= auction.description[0..40] %>...</span>
        <% if session[:user_id] == auction.seller_id%>
          <form class="edit_delete" method="POST" action="/categories/<%=@category.id%>/auctions/<%=auction.id%>">
              <input type="hidden" name="_method" value="delete">
              <input type="submit" value="delete">
          </form>
          <a class="edit_delete" href="/categories/<%=@category.id%>/auctions/<%=auction.id%>/edit" >edit</a>

<% end %>
      </li>
    <% end %>
  </ul>

  <% if session[:user_id] != nil %>
    <a href="/categories/<%= @category.id %>/auctions/new"> Create an auction</a>
  <% end %>


</div>
